<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/tabSemanaAtual.css' />
  </head>
  <body>
    <form action="/logoff" method="POST">
      <input type="submit" value="Logoff" id="logoff"/>
    </form>
    <p><%= qtd %> usuários cadastrados!</p>
    <br>
    <div class="divCrud">
    <table>
      <thead>
        <tr>
          <td class="tabela">Nome</td>
          <td class="tabela">Mesa</td>
          <td class="tabela">Data</td>
          <td class="tabela">Horario</td>
          <td class="tabela">Ação</td>
        </tr>
      </thead>
  
   
      <tbody >
        <% 
        if(docs) {
          for(var i=0; i < docs.length; i++){
            %>
            <tr>
              <td><a href="/edit/<%= docs[i]._id %>"><%= docs[i].username %></a></td>
              <td>
                  <form action="/delete/<%= docs[i]._id %>" method="POST">
                    <input type="submit" value="x" id="excluir"/>
                  </form>
              </td>
            </tr>
            <%
          }
        }
      %>
      </tbody>
    </table>
<!--     <table>

      <% 
        if(docs) {
          for(var i=0; i < docs.length; i++){
            %>
            <tr>
              <td><a href="/edit/<%= docs[i]._id %>"><%= docs[i].username %></a></td>
              <td>
                  <form action="/delete/<%= docs[i]._id %>" method="POST">
                    <input type="submit" value="x" />
                  </form>
              </td>
            </tr>
            <%
          }
        }
      %>
      <tr>
        <td colspan="2">
          <%
            for(var i=1; i <= qtdPaginas; i++){
              if(pagina === i){
          %>
                <%= i %> | 
          <% 
              } else {
          %>
              <a href="/index/<%= i %>">
                <%= i %>
              </a> | 
          <%
            } 
          }
          %>
        </td>
      </tr>
    </table> -->
  </div>
    <p>
      <a href="/users/signup" id="cadastrar">Cadastrar</a>
    </p>
    <p>
      <%
        if(profile === '2'){
      %>
          <a href="/reports">reports para admins</a>
      <% } %>
    </p>
  </body>
</html>
